SUBSYSTEM=="usb", ATTR{idVendor}=="2808", ATTR{idProduct}=="93a9", MODE="0666"
SUBSYSTEM=="usb", ATTR{idVendor}=="2808", ATTR{idProduct}=="a658", MODE="0666"
